/* En tu archivo CSS personalizado o dentro de una etiqueta <style> */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.table-custom {
    font-family: 'Calibri', Arial, sans-serif;
    font-size: 9pt;
    border-collapse: collapse;
    width: 100%;
}

.table-custom th,
.table-custom td {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    border: 1px solid #ddd;
}

.table-custom tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mi-contenedor-ancho {
    width: 95% !important; /* Usando !important para sobrescribir el estilo de Bootstrap si es necesario */
    /* width: 90vw !important; */
}