{% extends "base.html" %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="mi-contenedor-ancho">
            <div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-end">
                        <div class="d-flex flex-column me-3">
                            <h2 class="mb-0">{{ variables.programa }}</h2>
                            <div class="d-flex align-items-center">
                                <span class="mb-0" style="font-size: 0.75rem;">Cod: {{ variables.codigo_programa }} Ver: {{ variables.version_programa }}</span>
                                <div style="width:60px;"></div>
                                <span class="mb-0" style="font-size: 0.75rem;">Ficha: {{ ficha }}</span>
                                <div style="width:60px;"></div>
                                <span class="mb-0" style="font-size: 0.75rem;">Inicio: {{ variables.fecha_inicio }}</span>
                                <div style="width:40px;"></div>
                                <span class="mb-0" style="font-size: 0.75rem;">Finaliza: {{ variables.fecha_fin }}</span>
                            </div>
                            <div style="height:2.5em;"></div>
                        </div>
                        <div style="width:60px;"></div>
                        <form id="emailForm" method="POST">
                            <div class="d-flex">
                                <div style="flex:1; min-width:70px;">
                                    <div>
                                        <label for="to" class="form-label" style="font-size: 0.75rem">Destinatario</label>
                                    </div>
                                    <div>
                                        <label for="subject" class="form-label" style="font-size: 0.75rem;">Asunto</label>
                                    </div>
                                </diV>
                                <div style="flex:1; min-width:200px;">
                                    <div class="mb-2">
                                        <input type="email" id="to" name="to" class="form-control mb-2" style="font-size: 0.75rem;" placeholder="Destinatario" value="lhernandezs@sena.edu.co"  required>
                                    </div>
                                    <div class="mb-2">
                                        <input type="text" id="subject" name="subject" class="form-control mb-2" style="font-size: 0.75rem;" placeholder="Asunto" value="normalizar ficha {{ ficha }}" required>
                                    </div>
                                </div>
                                <div>
                                    <div style="flex:1; min-width:500px; margin-left:10px;">
                                        <textarea name="body" class="form-control mb-2" placeholder="Mensaje" required rows="3" style="font-size: 0.75rem;">Cordial saludo, Solicitamos su valiosa colaboración normalizando la ficha {{ ficha }} del programa {{ variables.programa }} de fecha el {{ variables.fecha_inicio }}.Quedamos atentos a cualquier inquietud.
                                        </textarea>
                                    </div>
                                    <div id="mensaje" class="mt-2" style="font-size: 0.75rem;"></div> 
                                </div>
                                <div style="width:20px;"></div>
                                <div style="flex:1; min-width:120px;">
                                    <input type="hidden" name="ficha" value="{{ ficha }}">
                                    <div class="mb-2 d-flex flex-column align-items-end">
                                        <button type="submit" class="btn btn-success mb-2" style="font-size: 0.85rem; width: 100%;">Enviar Correo</button>
                                        <a class="btn btn-light mb-2" href="/" style="border: 1px solid #000; width: 100%; font-size: 0.85rem;">Inicio</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function() {
                                $('#emailForm').submit(function(event) {
                                    event.preventDefault(); 
                                    var formData = $(this).serialize(); // Obtener los datos del formulario
                                    $.ajax({
                                        type: 'POST',
                                        url: '/send_mail',
                                        data: formData,
                                        success: function(response) {
                                            $('#mensaje').html(response.message).css('color', 'green');
                                            $('#emailForm')[0].reset();
                                        },
                                        error: function(xhr, status, error) {
                                            $('#mensaje').html('Error al enviar el correo: ' + error).css('color', 'red');
                                        }
                                    });
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-custom">
                    <thead>
                        <tr>
                            {% for col in dataFrame.columns %}
                                {% if col != 'color' %}
                                    <th>{{ col }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if dataFrame.empty == False %}
                            {% for row in dataFrame.values %}
                                {% if loop.index == 1 %}
                                    <tr>
                                        <td colspan="10" class="text-end"><h3>Instructores</h3></td>
                                        {% for cell in row[:-1] %}
                                            {% if loop.index0 > 9 %}
                                                <td>
                                                    <span style="overflow:hidden; white-space:normal; padding:0">
                                                        {{ cell}}
                                                    </span>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        {% for cell in row[:-1] %}
                                            {% set col_idx = loop.index0 %}
                                            {% if col_idx < 24 %}
                                                {% set col1 = ['nombres', 'apellidos'] %}   
                                                {% set col2 = ['documento', 'estado'] %}                                                                                    
                                                {% set col3 = ['aprobado', 'porEvaluar', 'noAprobado', 'enTramite'] %}
                                                {% if dataFrame.columns[col_idx] in col1 %}
                                                    {% set width = '90px' %}
                                                {% elif dataFrame.columns[col_idx] in col2 %}
                                                    {% set width = '60px' %}
                                                {% elif dataFrame.columns[col_idx] in col3 %}
                                                    {% set width = '30px' %}
                                                {% elif 10 <= col_idx <= 25 %}
                                                    {% set width = '30px' %}
                                                {% else %}
                                                    {% set width = '15px' %}
                                                {% endif %}
                                                <td
                                                    {% if dataFrame.columns[col_idx] == 'color' %}
                                                        style="background-color: {{ cell }};"
                                                    {% else %}
                                                        {% if 'color' in dataFrame.columns %}
                                                            style="background-color: {{ row[dataFrame.columns.get_loc('color')] }};"
                                                        {% endif %}
                                                    {% endif %}
                                                >
                                                    <span style="width:{{ width }}; overflow:hidden ;text-overflow:ellipsis; white-space:nowrap">
                                                        {{ cell }} 
                                                    </span>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="25">No hay datos disponibles.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}