{% extends "base.html" %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="mi-contenedor-ancho">
            <div>
                <div class="d-flex align-items-center mb-3">
                    <h2 class="mb-0 me-3">Datos</h2>
                    <div class="ms-auto">
                        <a class="btn btn-light" href="/">Inicio</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-custom">
                    <thead>
                        <tr>
                            {% for col in dataFrame.columns %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if dataFrame.empty == False %}
                            {% for row in dataFrame.values %}
                                {% set fila_index = loop.index %}
                                <tr>
                                <tr>
                                    {% for cell in row %}
                                        {% set col_idx = loop.index0 %}
                                        {% set col1 = ['nombres', 'apellidos'] %}   
                                        {% set col2 = ['documento', 'estado'] %}                                                                                    
                                        {% set col3 = ['aprobado', 'porEvaluar', 'noAprobado', 'enTramite'] %}
                                        {% if dataFrame.columns[col_idx] in col1 %}
                                            {% set width = '90px' %}
                                        {% elif dataFrame.columns[col_idx] in col2 %}
                                            {% set width = '60px' %}
                                        {% elif dataFrame.columns[col_idx] in col3 %}
                                            {% set width = '30px' %}
                                        {% elif 10 <= col_idx <= 25 %}
                                            {% set width = '30px' %}
                                        {% else %}
                                            {% set width = '15px' %}
                                        {% endif %}
                                        <td>
                                            <!-- <span style="display:inline-block; width:{{ width }} ; overflow:hidden -->
                                            <span style="width:{{ width }} ; overflow:hidden
                                                {% if fila_index == 1 %} 
                                                    ;white-space:normal ; padding:0
                                                {% else %} 
                                                    ; text-overflow:ellipsis ; white-space:nowrap 
                                                {% endif %}">
                                                    {{ cell }} 
                                            </span>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="25">No hay datos disponibles.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}