{% extends "base.html" %}

{% block body %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="row flex-fill mb-3 mi-contenedor-ancho d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">{{ variables.programa }}</h2>
            <div style="col-1 min-width:10rem;">
                <a class="btn btn-light mb-2" href="/" style="border: 1px solid #000; width: 100%; font-size: 0.85rem;">Inicio</a>
            </div>
        </div>
    </div>
    <div class="row flex-fill mb-3 mi-contenedor-ancho d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center">
            <table class="table table-sm mb-0 table-bordered text-center" style="font-size: 0.75rem; width: auto; margin: 0 auto;">
                <tr>
                    <th class="border text-center align-middle"><b>Código</b></th>
                    <th class="border text-center align-middle"><b>Versión</b></th>
                    <th class="border text-center align-middle"><b>Ficha</b></th>
                    <th class="border text-center align-middle"><b>Fecha de inicio</b></th>
                    <th class="border text-center align-middle"><b>Fecha de finalización</b></th>
                    <th class="border text-center align-middle"><b>Duración</b></th>
                    <th class="border text-center align-middle"><b>Fin Etapa Lectiva</b></th>
                    <th class="border text-center align-middle"><b>Inicio Etapa Productiva</b></th>                    
                    <th class="border text-center align-middle"><b>Reglamento aplicable</b></th>
                    {% if variables.reglamento == "Acuerdo 7 de 2012" %}
                        <th class="border text-center align-middle"><b>Vencimiento de términos <br> (Artículo 22)</b></th>
                        <th class="border text-center align-middle"><b>Fecha límite para iniciar <br> Etapa Productiva (18 meses)</b></th>
                    {% endif %}
                </tr>
                <tr>
                    <td class="text-center border">{{ variables.codigo_programa }}</td>
                    <td class="text-center border">{{ variables.version_programa }}</td>
                    <td class="text-center border">{{ ficha }}</td>
                    <td class="text-center border">{{ variables.fecha_inicio }}</td>
                    <td class="text-center border">{{ variables.fecha_fin }}</td>
                    <td class="text-center border">{{ variables.duracion_meses }} meses</td>                    
                    <td class="text-center border">{{ variables.fin_etapa_lectiva }}</td>
                    <td class="text-center border">{{ variables.inicio_etapa_productiva }}</td>                    
                    <td class="text-center border">{{ variables.reglamento }}</td>
                    {% if variables.reglamento == "Acuerdo 7 de 2012" %}
                        <td class="text-center border">{{ variables.vencimiento }}</td>
                        <td class="text-center border">{{ variables.limite }}</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
    <div class="row flex-fill mb-3 mi-contenedor-ancho d-flex justify-content-center align-items-center">
        <div class="table-responsive flex-grow-1">
            <table class="table table-striped table-bordered table-custom">
                <thead>
                    <tr>
                        {% for col in dataFrame.columns[:-2] %}
                            {% if col != 'color' %}
                                <th>{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% if dataFrame.empty == False %}
                        {% for row in dataFrame.values %}
                            {% if loop.index in [1,2] %}
                                <tr>
                                    {% for cell in row[:-2] %}
                                        {% if loop.index0 == 0 %}
                                            <td colspan="10" class="text-end">{{ cell }}</td>
                                        {% elif loop.index0 > 9 %}
                                            <td>
                                                <span style="overflow:hidden; white-space:normal; padding:0">
                                                    {{ cell}}
                                                </span>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr>
                                    {% for cell in row[:-2] %}
                                        {% set col_idx = loop.index0 %}
                                        {% if col_idx < 24 %}
                                            {% set col1 = ['nombres', 'apellidos'] %}   
                                            {% set col2 = ['documento', 'estado'] %}                                                                                    
                                            {% set col3 = ['aprobado', 'porEvaluar', 'noAprobado', 'enTramite'] %}
                                            {% if dataFrame.columns[col_idx] in col1 %}
                                                {% set width = '90px' %}
                                            {% elif dataFrame.columns[col_idx] in col2 %}
                                                {% set width = '60px' %}
                                            {% elif dataFrame.columns[col_idx] in col3 %}
                                                {% set width = '30px' %}
                                            {% elif 10 <= col_idx <= 25 %}
                                                {% set width = '30px' %}
                                            {% else %}
                                                {% set width = '15px' %}
                                            {% endif %}
                                            <td
                                                {% if dataFrame.columns[col_idx] == 'color' %}
                                                    style="background-color: {{ cell }};"
                                                {% else %}
                                                    {% if 'color' in dataFrame.columns %}
                                                        style="background-color: {{ row[dataFrame.columns.get_loc('color')] }};"
                                                    {% endif %}
                                                {% endif %}
                                            >
                                                <span style="width: {{ width }} overflow:hidden text-overflow:ellipsis white-space:nowrap">
                                                    {{ cell }} 
                                                </span>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="25">No hay datos disponibles.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}