<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Gestor de Archivos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    </head>
    <body class="bg-dark text-white"></body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Procesador de Reportes de Juicios</a>
                <div class="d-flex align-items-center ms-auto">
                    <span class="navbar-text text-white me-3">
                        {% if variables.datos %}
                            Está cargado un archivo de datos
                        {% else %}
                            <span class="text-danger">No se ha cargado un archivo de datos!!</span>
                        {% endif %}
                    </span>
                    <form class="d-flex" method="post" enctype="multipart/form-data"  action="{{ url_for('upload_datos') }}">
                        <label for="fileUpload" class="form-control btn btn-primary mb-0 me-2" style="width:auto;">buscar datos</label>
                        <input class="form-control visually-hidden" type="file" name="datos" id="fileUpload" required>
                        <button class="btn btn-warning" type="submit">Subir</button>
                    </form>
                    <span style="width: 1rem; display: inline-block;"></span>
                    <img src="{{ url_for('static', filename='images/porcolombia.jpg') }}" alt="Por Colombia" class="img-fluid rounded me-3" style="height:40px;">
                </div>
            </div>
        </nav>
        <div class="container mb-3">
            <div class="col-12" >
                <div class="btn-toolbar" role="toolbar"  aria-label="Cinta de opciones">
                    <div class="btn-group me-2" role="group" aria-label="Subir archivos">
                        <form class="d-flex" method="post" enctype="multipart/form-data" action="{{ url_for('upload_files') }}">
                            <label for="filesUpload" class="form-control btn btn-primary mb-0 me-2" style="width:auto;">Subir mas reportes</label>
                            <input class="form-control me-2 visually-hidden" type="file" name="files" id="filesUpload" multiple required>
                            <button class="btn btn-light" type="submit">Subir</button>
                        </form>
                    </div>
                        <div class="btn-group ms-auto" role="group" aria-label="Borrar fichas" style="margin-left:auto;">
                            <form class="d-flex me-2" method="post" action="{{ url_for('delete_multiple_files') }}" id="deleteMultipleForm" onsubmit="return confirm('¿Está seguro de que desea eliminar los archivos seleccionados?');">
                                <input type="hidden" name="selectedFilesDeleteInput" id="selectedFilesDeleteInput">
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                            </form>
                        <div style="width: 1rem;"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            {% if variables.error %}
                <div class="alert alert-danger" role="alert">
                    {{ variables.error[0] }}
                </div>
            {% endif %}
            <h2>Fichas cargadas</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" title="Seleccionar todos"></th>
                        <th>Ficha</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if variables.fichas %}
                        {% for ficha in variables.fichas %}
                            <tr>
                                <td><input type="checkbox" class="file-checkbox" name="selected_files" value="{{ archivo }}"></td>
                                <td>{{ ficha }}</td>
                                <td>
                                    <form method="post" action="{{ url_for('delete_file', filename=ficha) }}" style="display:inline;"></form>
                                        <button type="submit" title="Eliminar" class="btn btn-outline-danger btn-sm d-flex align-items-center justify-content-center p-1">
                                            Eliminar
                                        </button>
                                    </form>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <form method="post" action="{{ url_for('view_datos', filename=ficha) }}" style="display:inline;">
                                        <button type="submit" title="Ver datos" class="btn btn-outline-info btn-sm d-flex align-items-center justify-content-center p-1">
                                            Ver datos
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No hay fichas cargadas.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>. 
    </body>
</html>