                                    <!-- {% else %}
                                    <tr>
                                        {% for cell in row %}
                                            {% set col_idx = loop.index0 %}
                                            {% if col_idx < 24 %}
                                                {% set col1 = ['nombres', 'apellidos'] %}   
                                                {% set col2 = ['documento', 'estado'] %}                                                                                    
                                                {% set col3 = ['aprobado', 'porEvaluar', 'noAprobado', 'enTramite'] %}
                                                {% if dataFrame.columns[col_idx] in col1 %}
                                                    {% set width = '90px' %}
                                                {% elif dataFrame.columns[col_idx] in col2 %}
                                                    {% set width = '60px' %}
                                                {% elif dataFrame.columns[col_idx] in col3 %}
                                                    {% set width = '30px' %}
                                                {% elif 10 <= col_idx <= 25 %}
                                                    {% set width = '30px' %}
                                                {% else %}
                                                    {% set width = '15px' %}
                                                {% endif %}
                                                <td
                                                    {% if dataFrame.columns[col_idx] == 'color' %}
                                                        style="background-color: {{ cell }};"
                                                    {% else %}
                                                        {% if 'color' in dataFrame.columns %}
                                                            style="background-color: {{ row[dataFrame.columns.get_loc('color')] }};"
                                                        {% endif %}
                                                    {% endif %}
                                                >
                                                    <span style="width:{{ width }}; overflow:hidden ;text-overflow:ellipsis; white-space:nowrap">
                                                        {{ cell }} 
                                                    </span>
                                                </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr> -->